@charset "UTF-8";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  word-break: break-all;
}

body {
  font-family: "游明朝", YuMincho, serif;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
}

.inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 30px;
}

:root {
  scroll-padding: 80px;
}

.section-title h2 {
  color: #4d9600;
  font-size: 3rem;
  margin-bottom: 6px;
  line-height: 1.1;
  letter-spacing: 0.3em;
  text-align: center;
}

.section-title p {
  color: #000;
  font-size: 2rem;
  line-height: 1.65;
  letter-spacing: 0.3em;
  text-align: center;
}

.header {
  color: #fff;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .header {
    height: 50px;
  }
}

.header__inner {
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
  padding: 0 80px 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__inner {
    padding: 0 0 0 20px;
  }
}

.header__title {
  font-size: 2rem;
  line-height: 1.65;
  transition: all 0.5s linear;
}
.header__title:hover {
  opacity: 0.5;
}

.header__nav-lists {
  gap: 31px;
  line-height: 1.8333333333;
  display: flex;
}
@media screen and (max-width: 767px) {
  .header__nav-lists {
    display: none;
  }
}

.header__nav-list {
  font-size: 1.8rem;
}

.header__nav-link {
  height: 80px;
  display: block;
  display: grid;
  place-items: center;
  transition: all 0.5s linear;
}
.header__nav-link:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.fv {
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
}
.fv ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .fv {
    aspect-ratio: 375/601;
  }
}

.fv__img img {
  width: 100%;
  height: 100%;
}

.fv__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -45%);
}
.fv__text p {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: 0.3em;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.about {
  position: relative;
}
@media screen and (max-width: 767px) {
  .about {
    aspect-ratio: 375/584;
  }
}

.about__img {
  width: 100%;
  height: 100%;
}

picture img {
  width: 100%;
}

.about__container {
  top: 21.8%;
  left: 12.6%;
  writing-mode: vertical-rl;
  position: absolute;
}
.about__text h2 {
  font-size: 3rem;
  line-height: 1.18;
  letter-spacing: 0.18em;
  margin-left: 42px;
}
@media screen and (max-width: 767px) {
  .about__text h2 {
    font-size: 2.5rem;
  }
}
.about__text p {
  font-size: 1.8rem;
  line-height: 2.66;
  letter-spacing: 0.39em;
}
@media screen and (max-width: 767px) {
  .about__text p {
    font-size: 1.6rem;
  }
}

.service {
  background-color: rgba(77, 150, 0, 0.102);
  padding: 77px 0;
}
@media screen and (max-width: 767px) {
  .service {
    padding: 5rem 0;
  }
}

.service__title {
  padding-left: 9px;
}

.service__contents {
  width: 100%;
  margin-top: 68px;
  flex-direction: column;
}

.service__content {
  width: 100%;
  margin-bottom: 80px;
  position: relative;
  display: flex;
}
@media screen and (max-width: 767px) {
  .service__content {
    margin-top: 4rem;
    margin-bottom: 0;
  }
}

.service__content:last-child {
  margin-bottom: 0;
}

.service__img-text {
  width: 65.2%;
  padding-bottom: 50px;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .service__img-text {
    width: 100%;
  }
}
.service__img-text p {
  font-size: 1.6rem;
  margin-top: 20px;
  line-height: 1.5625;
}

.service__img img {
  width: 100%;
}

.service__text {
  color: #fff;
  background-color: #4d9600;
  position: absolute;
  width: 54.3%;
  right: 0;
  bottom: 0;
  padding: 50px 0 41px 220px;
  z-index: 1;
}
.service__text h3 {
  font-size: 2.5rem;
  line-height: 1.32;
  margin-bottom: 1.7rem;
}
.service__text p {
  font-size: 1.6rem;
  line-height: 1.5625;
}

.service__content.reverse {
  flex-direction: row-reverse;
}
.service__content.reverse .service__text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 50px 185px 42px 40px;
}
.service__content.reverse .service__img-text p {
  text-align: right;
}

.works {
  padding: 83px 0 97px 0;
}

.works__title {
  padding-left: 6px;
}

.works__title h2 {
  padding-left: 1px;
}

.modal__items {
  display: flex;
  margin: 0 auto;
  margin-top: 6.8rem;
  gap: 4.36%;
}

.modal-item {
  width: 21.73%;
}

.modal__img {
  margin-bottom: 19px;
}
.modal__img img {
  width: 200px;
}

.works-item__body {
  font-size: 1.6rem;
  line-height: 1.5625;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-window {
  display: none;
  position: relative;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -160%);
  z-index: 2000;
  background-color: #fff;
  width: 450px;
  height: 275px;
}

.modal-content {
  padding: 15px 15px 6px;
}
.modal-content p {
  font-size: 1.6rem;
  margin-top: 9px;
}

.js-modal-close {
  position: absolute;
  top: 0;
  right: 0;
}
.js-modal-close img {
  width: 15px;
  height: 15px;
}

.news {
  background-color: rgba(77, 150, 0, 0.102);
  padding: 80px 0;
}

.news__title {
  padding-left: 9px;
}

.news__contents {
  width: 100%;
  display: flex;
  gap: 6.52%;
  margin-top: 6.8rem;
}

.news__content {
  width: 100%;
  background-color: #fff;
}

.news__item-title {
  background-color: #4d9600;
  color: #fff;
  height: 50px;
  font-size: 2rem;
  line-height: 1.65;
  padding: 9px 20px 8px;
}

.news__items {
  background-color: #fff;
  padding: 10px 20px 0;
}

.news__item {
  width: 100%;
  padding: 13px 0;
  border-bottom: 1px solid #55a500;
}
.news__item a {
  display: flex;
  gap: 17.8%;
}
.news__item time {
  width: 13.5%;
  font-size: 1.6rem;
  line-height: 2.0625;
}
.news__item p {
  width: 68.7%;
  font-size: 1.8rem;
  padding-top: 6px;
  line-height: 1.3888888889;
}

.news__button {
  position: relative;
  text-align: right;
  margin-top: 1.7rem;
}
.news__button a {
  display: block;
  position: relative;
  padding: 0 1rem 2.2rem 0.4rem;
}
.news__button p {
  color: #55A500;
  font-size: 2rem;
  padding-right: 2.5rem;
  line-height: 1.65;
}
.news__button img {
  position: absolute;
  right: 0;
  top: 30%;
}

.company {
  padding: 82px 0;
}

.company__items {
  margin-top: 6.8rem;
  display: flex;
  position: relative;
}

.company__map {
  width: 65.21%;
  padding-bottom: 62px;
  z-index: 10;
}
.company__map iframe {
  width: 100%;
  aspect-ratio: 3/2;
}

.company__content {
  background-color: #4d9600;
  color: #fff;
  width: 54.34%;
  padding: 48px 5px 44px 220px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.company__name {
  font-size: 2rem;
  line-height: 1.65;
}

.company__adress {
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 7px;
}

.company__tellnumber {
  margin-top: 12px;
}
.company__tellnumber p {
  font-size: 1.6rem;
  line-height: 1.5625;
}
.company__tellnumber a {
  font-size: 2.5rem;
  line-height: 1;
}

.company__mailadress {
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 14px;
}

.contact {
  background-color: rgba(77, 150, 0, 0.149);
  padding: 78px 0;
  font-size: 2rem;
  line-height: 1.65;
}

.contact__inner {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 30px;
}

.contact__title {
  padding-left: 9px;
  margin-bottom: 34px;
}

.contact__message {
  margin-bottom: 71px;
}

.contact__name {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.contact__name .contact__left {
  width: 170px;
}
.contact__name .contact__right {
  font-size: 1.6rem;
  line-height: 1.5625;
  display: flex;
  flex: 1;
}
.contact__name .contact__right input {
  background-color: #fff;
  width: 100%;
  padding: 13px 20px;
}

.contact__gender {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.contact__gender .contact__left {
  width: 170px;
}
.contact__gender .contact__right {
  display: flex;
}
.contact__gender .contact__right label {
  position: relative;
  padding-right: 74px;
}
.contact__gender .contact__right label span {
  position: relative;
  padding-left: 19px;
}

.contact__mail {
  width: 100%;
  margin-bottom: 57px;
  display: flex;
  align-items: center;
}
.contact__mail .contact__left {
  width: 170px;
  letter-spacing: -0.6px;
  line-height: 1.65;
}
.contact__mail .contact__right {
  width: 630px;
  font-size: 1.6rem;
}
.contact__mail .contact__right input {
  background-color: #fff;
  width: 100%;
  padding: 12px 20px;
}

.contact__type {
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}
.contact__type .contact__left {
  width: 170px;
  line-height: 1.65;
}
.contact__type .contact__right {
  width: 630px;
  font-size: 1.8rem;
  position: relative;
}
.contact__type .contact__right .select-type {
  background-color: #fff;
  width: 100%;
  padding: 13px 466px 13px 20px;
}
.contact__type .contact__right img {
  position: absolute;
  top: 40%;
  right: 20px;
}

.contact__content {
  margin-bottom: 47px;
}
.contact__content textarea {
  background-color: #fff;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
}

.contact__question {
  margin-bottom: 50px;
  font-size: 2rem;
  line-height: 1.65;
}

.contact__question-list {
  font-size: 18px;
  line-height: 1.3888888889;
  margin-top: 10px;
  row-gap: 15px;
  display: flex;
  flex-wrap: wrap;
}

.question__checkbox {
  width: 25%;
  display: flex;
}
.contact__privacy-policy {
  margin-bottom: 78px;
}

.privacy__policy-box {
  background-color: #fff;
  height: 300px;
  margin-top: 10px;
  padding: 10px 10px 0 0;
}

.privacy__policy-boxarea {
  height: 100%;
  overflow: scroll;
  height: 280px;
}

.privacy__policy-text {
  padding: 30px 40px;
  font-size: 18px;
  line-height: 1.7222222222;
}

.contact button {
  display: block;
  background-color: #4d9600;
  color: #fff;
  border: 1px #707070 solid;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 9px;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
}
.contact button:hover {
  background-color: #fff;
  color: #4d9600;
  transition: 0.5s;
}

.footer__top {
  padding: 83px 0;
  text-align: center;
}

.footer__title {
  border-bottom: 1px solid #000;
  padding-bottom: 25px;
  font-size: 2rem;
  line-height: 1.65;
}

.footer__nav {
  display: flex;
  justify-content: center;
  padding-top: 39px;
  font-size: 1.8rem;
  gap: 51px;
}

.footer__sns {
  display: flex;
  justify-content: center;
  padding-top: 36px;
  gap: 30px;
}

.sns__list img {
  width: 28px;
  height: 23px;
}

.footer__copyright {
  height: 92px;
  background-color: #4d9600;
  color: #fff;
  padding: 30px;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */